<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'generator/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Your Generated Password</h1>
        <div class="password-box">
            <p>{{ password }}</p>
        </div>
        <a href="/" class="generate-new-link">Generate another password</a>
    </div>
</body>
</html>
